@use "../../assets/mixins";
@use "../../assets/colors";

.home__todayTaskContainer {
  @include mixins.align-content($cross: center);
  max-width: 100%;
  min-height: 75px;
  gap: 14px;
  margin-bottom: 18px;
  .card {
    height: 100%;
  }
}

.home__userContainer {
  img {
    width: 36px;
    height: 36px;
    border-radius: 45px;
  }
}

.home__headerContainer {
  padding-right: 38px;
  width: 100%;
  @include mixins.align-content(row, space-between, center);
  button {
    width: 24px;
    height: 24px;
    background-image: url(/icons/settings.svg);
    background-size: cover;
    background-color: transparent;
    border: 0;
    align-self: flex-start;
    cursor: pointer;
  }
}

.home__habitContainer {
  @include mixins.align-content($wrap: wrap);
  gap: 16px;
  margin-bottom: 10px;
  min-height: 57px;
  padding-bottom: 80px;
}
.home__tagSelection {
  @include mixins.align-content($main: space-around);
  background-color: colors.$grayGreen;
  transform-origin: top left;
  transform: rotate(-90deg);
  position: absolute;
  width: 130%;
  padding: 3px 40px 4px;
  left: 0;
  bottom: 10%;
  border-radius: 0px 0 16px 16px;
  button {
    background-color: transparent;
    border: 0;
  }
  button.active {
    background-color: colors.$bottleGreen;
    color: colors.$white;
  }
}

.home__h2 {
  margin-bottom: 20px;
}

.home__h3 {
  margin-bottom: 8px;
}

.home__h4 {
  margin-bottom: 4px;
}
