@use "../../assets/mixins";
@use "../../assets/colors";

.journal__header,
.journal__optionSelect {
  padding-right: 30px;
  @include mixins.align-content($main: space-between);
  width: 100%;
}
.journal__header {
  margin-bottom: 30px;
}

.journal__optionSelect {
  margin: 50px 0 30px;
  button {
    width: 50%;
    padding: 8px 60px;
    h3 {
      font-weight: 500;
    }
  }
  .active {
    border: 0;
    background-color: colors.$green;
  }
  .inactive {
    border: 1px solid colors.$green;
    background-color: transparent;
  }
}

.journal__itemContainer {
  @include mixins.center-column;
  padding-right: 30px;
  gap: 10px;
  width: 100%;
  max-height: 322px;
}
