@use "../../assets/colors";
@use "../../assets/mixins";

.landing__wrapper {
  width: 100%;
  height: 100%;
}

.landing__topDecoration {
  @include mixins.center-column();
  position: relative;

  .landing__topDecoration__star {
    position: absolute;
    top: -45px;
    right: 10px;
  }
  .landing__pitch {
    position: absolute;
    width: 280px;
    color: colors.$bottleGreen;
    bottom: 30px;
    left: 25px;
  }
}

.landing__punchLine {
  color: colors.$bottleGreen;
  text-align: center;
}

.landing__buttonContainer {
  @include mixins.center-column();
  position: relative;
  height: 300px;
  @include mixins.adjust-background($size: contain);
  background-image: url(/ornamentBot.svg);
  gap: 20px;

  button {
    @include mixins.center-row();
    display: flex;
    width: 240px;
    padding: 8px 16px;
    border-radius: 24px;
    cursor: pointer;
  }
  button:hover {
    filter: saturate(1.5);
    transform: scale(1.1);
    transition: 0.25s;
  }
  .landing__startButton {
    box-shadow: 0px 0px 12px 0px rgba(1, 70, 54, 0.2);
    background-color: colors.$lime;
  }
  .landing__demoButton {
    background-color: colors.$gray;
  }
}

.landing__buttonContainer__topStar,
.landing__buttonContainer__botStar {
  position: absolute;
}

.landing__buttonContainer__topStar {
  top: -20px;
  left: 0;
}

.landing__buttonContainer__botStar {
  bottom: 0;
  right: 20px;
}

.appScreen {
  background-color: colors.$grayGreen;
  padding: 42px 50px 42px 30px;
  &:before {
    position: absolute;
    top: 0;
  }
}
