@use "../assets/mixins";

.navigation__container {
  @include mixins.align-content();
  gap: 28px;
  position: sticky;
  align-self: center;
  margin-top: auto;
  margin-left: -38px;
}

.navigation {
  @include mixins.center-column();
  text-decoration: none;
}
