@use "./colors";

@mixin align-content(
  $direction: row,
  $main: flex-start,
  $cross: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $main;
  align-items: $cross;
  flex-wrap: $wrap;
}

@mixin center-row {
  @include align-content(row, center, center);
}

@mixin center-column {
  @include align-content(column, center, center);
}

@mixin set-font($size, $weight: 400) {
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
  font-family: "Poppins";
  color: colors.$black;
}

@mixin adjust-background($size: cover, $repeat: no-repeat, $position: center) {
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}

@mixin error($color: #fa5252, $size: 14px, $marginBot: 10px) {
  color: $color;
  font-size: $size;
  margin-bottom: $marginBot;
  border-color: $color;
}

@mixin hover() {
  @keyframes enlarge {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  animation: enlarge 0.2s ease-in;
}
