@use "./assets/mixins";
@use "./assets/fonts";
@use "./assets/colors";

.appScreen {
  position: relative;
  padding: 25px 0 85px 38px;
  width: 100vw;
  max-width: 425px;
  height: 100vh;
  max-height: 844px;
  border: 2px colors.$lime solid;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
  @include mixins.align-content(column, flex-start, flex-start);
}

.appScreen:has(.landing__wrapper) {
  background-color: colors.$grayGreen;
  padding: 42px 50px 42px 30px;
}

.disabled {
  cursor: not-allowed !important;
}

h1 {
  @include mixins.set-font(fonts.$h1, 500);
}

h2 {
  @include mixins.set-font(fonts.$h2);
}

h3 {
  @include mixins.set-font(fonts.$h3);
}

h4 {
  @include mixins.set-font(fonts.$h4, 300);
}
